@model Message
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var mes in ViewBag.Messages)
{
    <div style="font-size:larger">@mes.Text</div>
    <div style="font-size: smaller">@mes.Sign --- @mes.When</div>
}
<hr />
<div>
    <form method="post">
        <label asp-for="Text"></label>
        <input asp-for="Text" value="" />
        <label asp-for="Sign"></label>
        <input asp-for="Sign" />
        <input type="submit" value="Send" />
    </form>
</div>
