@model Message

@foreach (var mes in ViewBag.Messages)
{
    <div style="font-size:larger">@mes.Text</div>
    <div style="font-size: smaller">@mes.User.UserName --- @mes.When</div>
}
<hr />
<div>
    <form method="post">
        <label asp-for="Text"></label>
        <input asp-for="Text" value="" />
        <input type="submit" value="Send" />
    </form>
</div>
